<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="cef.redist.x64" version="89.0.17" targetFramework="net472" />
  <package id="cef.redist.x86" version="89.0.17" targetFramework="net472" />
  <package id="CefSharp.Common" version="89.0.170" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="89.0.170" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="GMap.NET.Core" version="2.0.1" targetFramework="net472" />
  <package id="GMap.NET.Windows" version="2.0.1" targetFramework="net472" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net472" />
  <package id="GMap.NET.WinForms" version="2.0.1" targetFramework="net472" />
  <package id="GMap.NET.WinPresentation" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
  <package id="VisioForge.DotNet.Core.TRIAL" version="12.0.82" targetFramework="net472" />
  <package id="VisioForge.DotNet.VideoCapture.TRIAL" version="12.0.82" targetFramework="net472" />
</packages>